*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg,#cf9aff,#95c0ff);
    color: white;
    margin: 12%;
}
.title{
    display: flex;
    align-items: center;
}
.title img{
    width:50px;
    height: 50px;
}
.note-button{
    background: linear-gradient(#9418fd,#571094);
    padding: 10px 30px;
    border-radius: 25px;
    margin: 15px 0;
    border: none;
    display: flex;
   align-items: center;
   color: white;
   cursor: pointer;
}
.note-button img{
    width:20px;
    height: 20px;
    margin-right: 5px;
}
.input-box{
    background: white;
    width: 70%;
    max-width: 450px;
    min-height: 200px;
    color: black;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    margin: 20px 0;
    position: relative;
}
.input-box img{
    width: 30px;
    height: 20px;
    position:absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    
}
